<!DOCTYPE html>

<html>
    <head>
        <title>Computer Database AAA</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css""/>
        <link rel="stylesheet" href="/assets/compdb.css""/>
    </head>
    <body ng-app>
        <header class="navbar navbar-inverse navbar-fixed-top">
            <h3 class="header-title">
                <a href="/">Play sample application — Computer database. Now with Akka and angular.dart!</a>
            </h3>
        </header>
        <section class="main-container">
            <ng-view></ng-view>
        </section>


        <script src="/assets/packages/shadow_dom/shadow_dom.min.js"></script>
        <script type="application/dart" src="/assets/main.dart"></script>
        <script src="/assets/packages/browser/dart.js"></script>
    </body>
</html>
